ion-card-header {
    ion-chip {
        position: absolute;
        right: 4px;
        top: 5px;
        font-size: 18px;
        font-weight: bold;
    }
}
.buttons-wrapper {
    margin-top: 20px;
}

.list-items {
    ion-card {
        ion-card-content {
            padding: 0;
        }
    }
    ion-item {
        ion-label {
            font-size: 18px;
            color: gray;
        }
        ion-note {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

ion-modal {
  --background: none;
}

.cursor-pointer {
  cursor: pointer;
}
