<ion-content>
  <div class="list-items">
    <ion-card *ngFor="let item of list">
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>{{item.nombre}}</ion-label>
          <ion-note slot="end" color="dark">$ {{item.precio | number: '0.2'}}</ion-note>
          <ion-icon (click)="deleteItem(item)" slot="end" name="trash-outline"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab (click)="addItemModal.present()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal mode="ios" #addItemModal>
  <ng-template>
    <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Nuevo Producto</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="name-item">
            <ion-label position="floating">Nombre producto</ion-label>
            <ion-input [(ngModel)]="productoNuevo.nombre" type="text" inputmode="text"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngFor="let item of productoNuevo.insumos">
            <ion-label>{{item.nombre}} x {{item.cantidad}}</ion-label>
            <div class="precio" slot="end">$ {{item.precio | number: '0.2'}}</div>
            <ion-icon (click)="deleteItem(item)" slot="end" name="close-outline"></ion-icon>
          </ion-item>
          <ion-item class="total-item" lines="none" *ngIf="listaInsumos.length > 0">
            <ion-label><strong>Total</strong></ion-label>
            <div class="precio" slot="end">$ {{totalProducto | number: '0.2'}}</div>
            <ion-icon style="opacity: 0;" slot="end" name="close-outline"></ion-icon>

          </ion-item>
          <div class="buttons-wrapper">
            <ion-button (click)="addItemCot.present()" mode="ios" expand="full" expand="block" color="primary">Agregar
              insumos</ion-button>
            <ion-button (click)="addItemModal.dismiss();saveProduct()" mode="ios" expand="full" expand="block" color="light">Guardar Producto
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal mode="ios" #addItemCot>
  <ng-template>
    <ion-content>
      <div class="list-items">
        <h2>Lista de insumos</h2>
        <ion-accordion-group>
          <ion-accordion mode="md" *ngFor="let item of listaInsumos">
            <ion-item lines="none" slot="header">
              <ion-label>{{item.nombre}} <span *ngIf="item.cantidad > 0">x {{item.cantidad}}</span>
              </ion-label>
              <ion-note slot="end" color="dark">$ {{item.precio | number: '0.2'}}</ion-note>
            </ion-item>
            <ion-list slot="content">
              <ion-item lines="none">
                <ion-label position="floating">Cantidad</ion-label>
                <ion-input [(ngModel)]="item.cantidad" type="number" inputmode="number"></ion-input>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
        <div class="buttons-wrapper">
          <ion-button (click)="addItemCot.dismiss(); guardarInsumosProductoNuevo()" mode="ios" expand="full" expand="block"
            color="primary">Guardar</ion-button>
          <ion-button (click)="addItemCot.dismiss()" mode="ios" expand="full" expand="block" color="light">Cancelar
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>