ion-menu {
  ion-item {
    --border-radius: 0 25px 25px 0;
  }
  ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  ion-item.selected {
    --color: var(--ion-color-primary);
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
  ion-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

ion-toolbar {
  --min-height: 50px;
}
.start-logo {
  height: 25px;
  margin-left: 15px;
  max-height: 5vw;
  border-radius: 0;
  display: flex;
  align-items: center;
}