<ion-app>
  <ion-header class="main-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button
          (click)="menuApp.toggle()"
          class="menu-button ion-hide-md-up"
        >
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <img
          src="assets/logo.png"
          alt="Milla Extra logo"
          style="height: 36px"
        />
        <div class="title">Milla Extra</div>
      </ion-buttons>
      <div slot="start"></div>
      <div class="end-toolbar" slot="end"></div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-split-pane contentId="main-content">
      <ion-menu #menuApp contentId="main-content" type="overlay">
        <ion-content>
          <ion-list id="inbox-list">
            <ion-menu-toggle
              auto-hide="false"
              *ngFor="let p of appPages; let i = index"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-content>
</ion-app>
